html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #e8e3e3 !important;
    line-height: 1 !important;
    background-image: url("../../assets/paper.png");
    background-repeat: repeat;
}

* {
    padding: 0;
    margin: 0;
}