* {
    padding: 0;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1 !important;
    background-image: url("../../assets/paper.png");
    background-repeat: repeat;
}
